@import "tailwindcss";
@import "tw-animate-css";

/* body {
  font-family: 'Noto Serif JP', serif;
} */

@font-face {
  font-family: "Bloodcrow";
  src: url('/fonts/bloodcrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}